%h1= t('.title', resource: resource_name.to_s.humanize)
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|
  = bootstrap_devise_error_messages!
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
  .form-group
    .col-md-6.no-padding
      = f.label :first_name
      = f.text_field :first_name, class: 'form-control'
    .col-md-6.no-padding.left-padding
      = f.label :last_name
      = f.text_field :last_name, class: 'form-control'
  .form-group
    - if current_user.avatar.url.present?
      = image_tag(current_user.avatar.url(:thumb))
      = f.label :remove_avatar do
        = f.check_box :remove_avatar
      = f.file_field :avatar
    - else
      = f.label :avatar do
        = f.file_field :avatar
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: 'new-password', class: 'form-control'
    %small.form-text.text-muted= t('.leave_blank_if_you_don_t_want_to_change_it')
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
  .form-group
    = f.label :current_password
    = f.password_field :current_password, autocomplete: 'current-password', class: 'form-control'
    %small.form-text.text-muted= t('.we_need_your_current_password_to_confirm_your_changes')
  .form-group
    = f.submit t('.update'), class: 'btn btn-primary'
%p
  = t('.unhappy')
  ? #{link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete}.
= link_to t('.back'), :back
