%h1 My Friends
%h3 Search for Friends
#friend-lookup
  = form_tag search_friends_path, remote: true, method: :get, id: "friend-lookup-form" do
    .form-group.row.no-padding.text-center.col-md-12
      .col-md-10
        = text_field_tag :search_param, params[:search_param], placeholder: "Enter name or email", autofocus: true, class: "form-control search-box input-lg"
      .col-md-2
        = button_tag(type: :submit, class: "btn btn-lg btn-success") do
          %i.fa.fa-search
          Search
#results
  = render 'friends/result'
