%table.table.table-stripped
  %thead
    %tr
      %th Name
      %th Symbol
      %th Current price
      - if @user.id == current_user.id
        %th Actions
  %tbody
    - @user_stocks.each do |user_stock|
      %tr
        %td= user_stock.name
        %td= user_stock.ticker
        %td= user_stock.last_price
        - if (@user.id == current_user.id)
          %td= link_to "Delete this stock?", user_stock_path(user_stock), method: :delete, data: { confirm: "Are You sure?" }, class: "btn btn-xs btn-danger"
