%h1 My Portfolio
%h3 Search for Stocks
#stock-lookup
  = form_tag search_stocks_path, remote: true, method: :get, id: "stock-lookup-form" do
    .form-group.row.no-padding.text-center.col-md-12
      .col-md-10
        = text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control search-box input-lg"
      .col-md-2
        = button_tag(type: :submit, class: "btn btn-lg btn-success") do
          %i.fa.fa-search
          Look up a stock
#results
  = render 'users/result'
= render 'stocks/list'
