.navbar.navbar-default.navbar-static-top
  .container
    = link_to "FinanceTracker", root_path, class: "navbar-brand"
    - if current_user
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.col-md-6
          %li= link_to "My Portfolio", my_portfolio_path
          %li= link_to "My Profile", edit_user_registration_path
          %li= link_to "My Friends", my_friends_path
        %ul.nav.navbar-right.col-md-4
          %li.col-md-8.user-name.text-right
            %i.fa.fa-user
            = current_user.full_name.present? ? current_user.full_name : current_user.email
          %li.col-md-4.logout
            = link_to "Log out", destroy_user_session_path, class: "btn btn-xs btn-danger", method: :delete
